* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

:root {
    --h1: #707070;
    --h2: #FFA45B;
    --h3Btnbleft: #FC6E51;
    --white: #fff;
    --area-1: #DE3C3C;
    --area-2: #08FFC8;
    --area-3: #78BDC4;
    --area-4: #FFA45B;
    --para: #AAB2BD;
    --logo: #3BAFDA;
    --areaText: #Ec87c0;
    font-size: 16px;
}

.container {
    padding: 0 100px 0 100px;
}

a {
    text-decoration: none;
}

.logo {
    color: var(--logo);
    padding-top: 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    margin-top: 150px;
}

.text h2 {
    color: var(--h2);
    max-width: 350px;
    font-size: 3rem;
}

.text span {
    margin-left: 200px;
}

.desc {
    border-left: 3px solid var(--h3Btnbleft);
    padding: 10px;
    margin-top: 100px;
}

.text p {
    max-width: 400px;
    line-height: 1.6;
    color: var(--para);
}

.imgLink {
    margin-left: -170px;
}

.img img {
    width: 350px;
    display: block;
    padding-top: 10px;
    padding-left: 25px;
}

.img {
    width: 390px;
    height: 390px;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    margin-top: 70px;
}

.imgLink a {
    background-color: var(--h3Btnbleft);
    padding: 15px 35px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    top: 50px;
}

.availablity {
    margin-top: 100px;
}

.availablity h3 {
    text-align: center;
    color: var(--h3Btnbleft);
    font-size: 1.8rem;
}

div[class ^= 'area-'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 .9rem rgba(0, 0, 0, .15);
    padding: 10px;
    width: 250px;
    margin: 30px 0;
    color: var(--areaText);
}

.area-1 {
    border-left: 5px solid var(--area-1);
}

.area-2 {
    border-left: 5px solid var(--area-2);
}

.area-3 {
    border-left: 5px solid var(--area-3);
}

.area-4 {
    border-left: 5px solid var(--area-4);
}

div[class ^='area-'] span {
    margin-top: 8px;
}

.range {
    width: 100%;
    background-color: #FFCE54;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #3C3B3D;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #48CFAD;
    cursor: pointer;
}



.colissioncolor {
    --dark-blue: #1c0c33;
    --hot-pink: #FFCE54;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Poppins');
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: var(--dark-blue);
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100vh;
  }
  
  .title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #3C3B3D;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .collision {
    text-decoration: none;
    color: #3C3B3D;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    height: 70px;
    width: 300px;
    overflow: hidden;
    line-height: 70px;
    text-align: center;
    position: relative;
  }
  
  .collision::before,
  .collision::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: var(--hot-pink);
    top: 50%;
    border-radius: 50%;
    z-index: -1;
  }
  
  .collision::before {
    transform: translate(-50%, -50%);
    left: -20px;
  }
  
  .collision::after {
    transform: translate(50%, -50%);
    right: -20px;
  }
  
  .collision:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
  }
  .collision:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
  }
  
  @keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
  
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
  